.vscode/
.idea/
.other/private/
.other/build/package/
Nys_ToDoList/Libs/*
!Nys_ToDoList/Libs/embeds.xml
Nys_ToDoList/Assets/Dev/*
!Nys_ToDoList/Assets/Dev/devLocale.lua
!Nys_ToDoList/Assets/Dev/devTests.lua
